body {
    margin: 1rem;
    background-color: #f8f8f8;
    font-family: sans-serif;
}

.form {
    margin-top: 20px
}

td, th {
    text-align: center;
    padding: 4px;
    border-bottom: 2px solid #ddd;
    border-left: 2px solid #ddd;
}

table {
    border-top: 2px solid #ddd;
    border-right: 2px solid #ddd;
}

.content {
    margin: 0 auto;
    width: 570px
}

form.add-task {
    margin-bottom: 25px;
}

table .added {
    min-width: 100px;
}

table .actions {
    min-width: 150px;
}

table .task-content {
    min-width: 250px;
}

table li {
    display: inline;
    padding-right: 10px;
}

table ul {
    padding-inline-start: 0;
    list-style: none;
}