{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content container">
  <h1>Table master</h1>

  <form action="/" method="POST" class="add-task">
    <input type="text" name="content" id="content"> <!-- request.form['content'] -->
    <input type="submit" value="Add task">
  </form>

  {% if tasks|length < 1 %}
  <p>No tasks available. Try creating a new task.</p>
  {% else %}
  <table>
    <tr>
      <th class="task-content">Task</th>
      <th class="added">Added</th>
      <th class="actions">Actions</th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td>{{ task.content }}</td>
      <td>{{ task.date_created.date() }}</td>
      <td>
        <ul>
          <li><a href="/delete/{{task.id}}">Delete</a></li>
          <li><a href="/update/{{task.id}}">Update</a></li>
        </ul>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

</div>
{% endblock %}